  <div
      class="flex justify-items-center items-center"
    >
      <img class="" src="Images/Logo.svg" alt="" />
    </div>
    <div class=" flex gap-4 justify-center items-center">
      <button (click)="onLoginClick()"
        class="md:w-[90px] md:h-[45px] w-[85px] h-[40px] shrink-0 rounded-[33px] font-outfit font-medium md:text-xl text-lg text-white bg-black"
      >
        Login
      </button>
      <button (click)="onRegisterClick()"
        class="md:w-[110px] md:h-[45px] w-[100px] h-[40px] shrink-0 rounded-[33px] font-outfit font-semibold md:text-xl text-lg border-[3px] border-black text-black"
      >
        Register
      </button>
      <!-- <img src="Images/Moon.svg" alt="" > -->
    </div>